.adding-expenses {
  border: 1px solid rgb(133, 128, 128);
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 26px;
  padding: 30px 40px;
  height: 270px;
  justify-content: center;
  border-radius: 6px;
  background-color: #7b1fa2;
}
.adding-expenses input {
  padding: 10px 10px;
  border-radius: 5px;
}
.radioButtons-expensebudget {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.adding-expenses button {
  width: 120px;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 auto;
  font-weight: bold;
}
.addtransaction:hover {
  transition: 200ms all ease;
}
@media only screen and (max-width: 550px) {
  .adding-expenses {
    border: 1px solid rgb(133, 128, 128);
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 20px;
    padding: 20px 30px;
    height: 220px;
    justify-content: center;
    border-radius: 6px;
  }
  .adding-expenses input {
    padding: 2px 6x;
    border-radius: 5px;
  }
  .radioButtons-expensebudget {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .adding-expenses button {
    width: 80px;
    padding: 6px 6px;
    border-radius: 5px;
    font-size: 12px;
    margin: 0 auto;
  }
}
