* {
  margin: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
}
.container {
  display: flex;
  border: 1px solid rgb(133, 128, 128);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%px;
  margin: 50px 50px;
  height: 100%;
  gap: 15px;
}
.balance-operations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 100%;
}
.input-fields {
  border: 1px solid rgb(133, 128, 128);
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 30px;
  background-color: aqua;
  padding: 30px 40px;
  height: 160px;
  justify-content: center;
  border-radius: 6px;
}
.input-fields input {
  padding: 10px 10px;
  border-radius: 5px;
}
.expense-budget {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.dding-expenses button {
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
