* {
  margin: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
}
body {
  background-color: rgb(36, 35, 35);
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
  align-content: center;
  color: white;
}
@media only screen and (max-width: 550px) {
  body {
    overflow: hidden;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 8px;
    align-content: center;
  }
}
